body
  overflow: hidden
.hidden
  display: none

#main-container
  height: 900px
  width: 100%

  &.play-area
    border: solid 1px black


  .circle
    border: solid
    border-radius: 30px
    height: 40px
    left: 50%
    position: absolute
    top: 50%
    width: 40px


    .circle-chat, .circle-label
      border: none
      left: -45px
      position: absolute

    .circle-label
      cursor: pointer
      text-align: center
      top: 42px

    .circle-chat
      top: -25px

      &.highlight
        background-color: #D3FFFC

    .label-chat
      font-size: 13px
      left: -63px
      position: absolute
      text-align: center
      top: -33px
      width: 160px

    &.hunter
      border-color: #0202B3

    &.prey
      border-color: #A20000
