body
  overflow: hidden

#main-container
  border: solid 1px black
  height: 900px
  width: 100%

  .circle
    border: solid
    border-radius: 30px
    height: 40px
    left: 50%
    position: absolute
    top: 50%
    width: 40px

    .circle-label
      border: none
      cursor: pointer
      left: -45px
      position: absolute
      text-align: center
      top: 42px